.bagButton{
background-color: lightgreen;
padding: 5px 15px;
border-radius: 10px;
border:none;
}

.wishButton{
padding: 5px 35px;
border: 5px solid black;
border-radius: 10px;
text-transform: uppercase;
}